.cdx-simple-tabs {
  padding: 20px 0;
  border-radius: 4px;
}

.cdx-simple-tabs svg {
  color: #0076a3;
}

.cdx-simple-tabs .addCircle:hover,
.cdx-simple-tabs .removeCircle:hover {
  cursor: pointer;
  outline: none;
}

/* Style the tab */
#tabs-output-wrapper {
  margin: 24px 0;
}

.cdx-tab-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}

/* Style the buttons that are used to open the tab content */
.cdx-tab-item {
  font-family: Arial, Helvetica, sans-serif;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  position: relative;
  border: 1px solid rgba(201,201,204,.48);
  border-radius: 4px;
  margin-right: 4px;
}

.cdx-tab-item.active {
  border-color: #00c897;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.cdx-tab-button {
  border: none;
  outline: none;
}

/* Create an active/current tablink class */
.cdx-tab-button:hover,
.cdx-tab-button.active {
  color: #00c897;
}

.removeCircle {
  position: absolute;
  top: -10px;
  left: -10px;
}

/* .cdx-simple-tabs .cdx-tab-card {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  margin: 0 0 14px;
} */

/* Style the tab content */

.cdx-tab-content-list {
  margin-bottom: 8px;
}

.cdx-tab-content-list .cdx-input {
  display: none;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-height: 100px;
}

.cdx-tab-content-list .cdx-input.active {
  display: block;
}

.cdx-tab-actions .cdx-button {
  margin-right: 14px;
  margin-bottom: 14px;
}

.cdx-tab-remove-button {
  position: absolute;
  top: 0;
  right: 5px;
}

.cdx-tab-remove-button:hover {
  color: #00c897;
}

pre.output {
  padding: 14px;
  border-radius: 4px;
  background-color: lightyellow;
}

pre.output:empty {
  padding: 0;
  display: none;
}