node_modules/

.env
cms/docker-compose.yml
cms/.env
cms/Dockerfile
cms/extensions/*
cms/src/extensions/**/dist/

editorjs/node_modules
editorjs/editorjs
editorjs/dist
editorjs/*.tgz
editorjs/*.zip

frontend/.env.*
frontend/dist/