# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# USWDS assets
public/fonts
public/uswds

# Misc
.DS_Store
.fleet
.idea

# Playwright
e2e/.features-gen
test-results
playwright-report

# Local env files
.env
.env.*
!.env.example
