version: 2.1

orbs:
  node: circleci/node@4.1
  aws-s3: circleci/aws-s3@2.0.0

jobs:
  dev-onrr-frontend:
    working_directory: ~/onrr.gov-site/frontend
    docker:
      - image: cimg/node:15.1
    steps:
      - checkout:
          path: ~/onrr.gov-site
      - node/install-packages

      - run: 
          name: Build app
          command: npm run build
          
      - run: 
          name: Deploy to cloud.gov
          command: |
            pwd && ls -l
            curl -v -L -o cf-cli_amd64.deb 'https://cli.run.pivotal.io/stable?release=debian64&source=github'
            sudo dpkg -i cf-cli_amd64.deb  
            # Set $CF_USERNAME and $CF_PASSWORD in CircleCI settings.
            # $CF_ORG, $CF_SPACE, and $APP_NAME can also be set in CircleCI settings or hardcoded here.
            cf api https://api.fr.cloud.gov
            cf auth "$DEV_CF_USERNAME" "$DEV_CF_PASSWORD"
            cf target -o "$DEV_CF_ORG" -s "$DEV_CF_SPACE"
            cf push dev-onrr-frontend -f ./manifest.yml

workflows:
  build:
    jobs:
      - dev-onrr-frontend:
          filters:
            branches:
              only:
                - dev