/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

a.usa-button,
a.usa-button:visited {
   color: #fff !important;
}

.skip-link {
   position: absolute;
   top: -40px;
   left: 0;
   background: #000;
   color: #fff;
   padding: 8px;
   z-index: 100;
   transition: top 0.3s;
}
.skip-link:focus {
   top: 0;
}

ul li a {
   line-height: 1.7 !important;
}

.onrr-data-table {
   .v-data-table__wrapper {
      table {
         tbody {
            tr {
               th {
                  font-weight: normal;
                  font-size: 0.875rem !important;
               }
            }
            tr:not(:last-child) {
              th:not(.-data-table__mobile-row) {
                 border-bottom: 1px solid var(--v-accent-base) !important;
              }
           }
        }
     }
  }
}

.onrr-simple-table {
   table {
      tbody {
         tr {
            th {
               font-weight: normal;
               font-size: 0.875rem !important;
            }
         }
         tr:not(:last-child) {
           td, th:not(.-data-table__mobile-row) {
              border-bottom: 1px solid var(--v-accent-base) !important;
              font-size: 0.875rem !important;
           }
        }
     }
  }
}