/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

a.usa-button,
a.usa-button:visited {
   color: #fff !important;
}

.skip-link {
   position: absolute;
   top: -40px;
   left: 0;
   background: #000;
   color: #fff;
   padding: 8px;
   z-index: 100;
   transition: top 0.3s;
}
.skip-link:focus {
   top: 0;
}

ul li a {
   line-height: 1.7 !important;
}

.onrr-data-table {
   .v-data-table__wrapper {
      table {
         tbody {
            tr {
               th {
                  font-weight: normal;
                  font-size: 0.875rem !important;
               }
            }
            tr:not(:last-child) {
              th:not(.-data-table__mobile-row) {
                 border-bottom: 1px solid var(--v-accent-base) !important;
              }
           }
        }
     }
  }
}

.onrr-simple-table {
   table {
      tbody {
         tr {
            th {
               font-weight: normal;
               font-size: 0.875rem !important;
            }
         }
         tr:not(:last-child) {
           td, th:not(.-data-table__mobile-row) {
              border-bottom: 1px solid var(--v-accent-base) !important;
              font-size: 0.875rem !important;
           }
        }
     }
  }
}

.onrr-feedback-form {
   width: 21rem;
   font-family: Lato, Helvetica, Arial, sans-serif !important;
}

.onrr-question-label {
   margin-top: 0 !important;
   font-family: lato !important;
   font-size: 1rem !important;
}

.onrr-text-area {
   font-family: lato !important;
   font-size: 1rem !important;
}

.onrr-submit-button {
   float: right;
   margin-bottom: 1rem !important;
   margin-right: 0 !important;
   font-family: lato !important;
}

.thumb-radio-group {
   display: flex;
   gap: 40px;
}

.thumb-radio-group label {
   cursor: pointer;
}

.thumb-icon {
   width: 40px !important;
   height: 40px !important;
   fill: var(--v-primary-base) !important;
   transition: fill 0.3s ease;
   cursor: pointer;
}

.thumb-icon:hover {
   fill: var(--v-primary-darken1) !important
}

.question-options {
   display: flex;
   justify-content: center;
   gap: 20px;
}

.option-text {
   font-family: Lato, Helvetica, Arial, sans-serif !important;
   text-align: center;
   font-size: 0.9rem;
}

thead th {
   border-bottom: 3px solid var(--v-accent-base)!important;
}

.usa-table.usa-table--striped tbody tr:nth-of-type(odd) td,
.usa-table.usa-table--striped tbody tr:nth-of-type(odd) th {
  background-color: transparent;
}

.usa-table.usa-table--striped tbody tr:nth-of-type(2n+2) td,
.usa-table.usa-table--striped tbody tr:nth-of-type(2n+2) th {
  background-color: var(--v-neutrals-lighten3) !important;
}

.usa-table.usa-table--striped tbody tr:not(:last-child) td,
.usa-table.usa-table--striped tbody tr:not(:last-child) th {
   border-bottom: 1px solid var(--v-accent-base) !important;
}

.usa-table {
   width: 100%;

   td, th {
      @include u-padding(1);
   }
}

.figure-block { 
   max-width: 100%; 
}

.img-block { 
   max-width: 100%; 
   height: auto; 
   object-fit: contain; 
}