// src/scss/variables.scss

$body-font-family: 'Lato', sans-serif;
$heading-font-family: 'Lato', sans-serif;
$headings: (
  'h1': (
      'size': 36px,
      'line-height': 36px,
      'weight': 400,
  ),
  'h2': (
      'size': 32px,
      'line-height': 32px,
      'weight': 400,
  ),
  'h3': (
    'size': 24px,
    'line-height': 24px,
    'weight': 400,
  )
);

$card-title-word-break: 'break-word';

$btn-text-transform: 'inherit';