// src/scss/variables.scss

$body-font-family: 'Lato', sans-serif;
$heading-font-family: 'Lato', sans-serif;
$headings: (
  'h1': (
      'size': 2.813rem,
      'weight': 400,
      'line-height': 2.813rem
  ),
  'h2': (
      'size': 2.125rem,
      'line-height': 2.125rem,
      'weight': 400
  ),
  'h3': (
    'size': 1.5rem,
    'line-height': 1.5rem,
    'weight': 400
  ),
  'h4': (
    'size': 1.25rem,
    'line-height': 1.25rem,
    'weight': 700,
  ),
  'h5': (
    'size': 1.125rem,
    'line-height': 1.125rem,
    'weight': 400
  )
);

$card-title-word-break: 'break-word';

$btn-text-transform: 'inherit';