/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
*/

@forward "uswds-core" with (
  $theme-show-notifications: false,
  $theme-image-path: "/uswds/img",
  $theme-typeface-tokens: (
    'plus-jakarta-sans': (
      'display-name': 'Plus Jakarta Sans',
      'cap-height': 352px,
      'stack': '"Plus Jakarta Sans Variable", Helvetica, Arial, sans-serif',
    ),
  ),
  $theme-font-type-sans: 'plus-jakarta-sans',
  $theme-utility-breakpoints: (
    'desktop-lg': true,
    'widescreen': true,
  ),
  $theme-breadcrumb-padding-top: 0,
  $theme-grid-container-max-width: 'none',
  $theme-banner-max-width: 'none',
  $theme-header-max-width: 'none',
  $theme-footer-max-width: 'none',
  $utilities-use-important: true
);

/*
----------------------------------------
Custom color palette
----------------------------------------
*/

$color-dark-forest-green: #143F1E;
$color-dark-navy: #2A294E;
$color-medium-blue: #0D4D81;
$color-light-sky-blue: #A8DEE8;
$color-medium-green: #265E37;
$color-olive-sage-green: #71915C;
$color-teal-cyan: #1C97BC;
$color-muted-blue-gray: #7A8AAA;
